---
name: on pull_request

"on":
  pull_request:

jobs:
  show-event:
    name: GitHub Actionsのeventを表示(debug用)
    permissions: {}
    timeout-minutes: 1
    runs-on: ubuntu-24.04
    steps:
      # https://docs.github.com/ja/webhooks/webhook-events-and-payloads?actionType=opened#pull_request
      # https://docs.github.com/ja/webhooks/webhook-events-and-payloads?actionType=reopened#pull_request
      # https://docs.github.com/ja/webhooks/webhook-events-and-payloads?actionType=synchronize#pull_request
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            console.info("github.event", context.payload)
  lint-gha:
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/wf-lint-gha.yaml

  validate-renovate-config:
    name: Renovateの設定を檢證
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    timeout-minutes: 10
    steps:
      - name: コードをチェックアウト
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Node.js をセットアップ
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"
      - name: Renovate 設定を検証
        run: npx --package renovate@43.3.4 -- renovate-config-validator
