---
name: on pull_request

"on":
  pull_request:

jobs:
  show-event:
    name: GitHub Actions のイベントを表示
    permissions: {}
    timeout-minutes: 1
    runs-on: ubuntu-24.04
    steps:
      # https://docs.github.com/ja/webhooks/webhook-events-and-payloads?actionType=opened#pull_request
      # https://docs.github.com/ja/webhooks/webhook-events-and-payloads?actionType=reopened#pull_request
      # https://docs.github.com/ja/webhooks/webhook-events-and-payloads?actionType=synchronize#pull_request
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            console.info("github.event", context.payload)
  lint-gha:
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/wf-lint-gha.yaml

  validate-renovate-config:
    name: Renovate 設定を検証
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    timeout-minutes: 10
    steps:
      - name: コードをチェックアウト
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Node.js をセットアップ
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "24"
      - name: Renovate 設定を検証
        run: npx --package renovate@42.11.0 -- renovate-config-validator
