---
name: on pull_request workflow_run completed

"on":
  workflow_run: # zizmor: ignore[dangerous-triggers]
    workflows:
      - on pull_request
    types:
      - completed

jobs:
  show-event:
    name: GitHub Actions のイベントを表示
    permissions: {}
    timeout-minutes: 1
    runs-on: ubuntu-24.04
    steps:
      # https://docs.github.com/ja/webhooks/webhook-events-and-payloads?actionType=completed#workflow_run
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            console.info("github.event", context.payload)
  observe-gha:
    permissions:
      actions: read
      checks: read
      contents: read
      pull-requests: read
    uses: ./.github/workflows/wf-observe-gha.yaml
    secrets:
      MACKEREL_APIKEY: ${{ secrets.MACKEREL_APIKEY }}
