---
name: Observe GitHub Actions

"on":
  workflow_call:
    secrets:
      MACKEREL_APIKEY:
        required: true

jobs:
  otel-cicd-action:
    permissions:
      actions: read
      checks: read
      contents: read
      pull-requests: read
    timeout-minutes: 1
    runs-on: ubuntu-24.04
    steps:
      - name: workflowのfile名を取得
        id: get-the-workflow-filename
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const path = context.payload.workflow_run.path;
            const match = path.match(/([^/]+)\.ya?ml$/);
            if (!match) throw new Error("Invalid workflow filename");
            core.setOutput("filename", match[1]);
      - uses: corentinmusard/otel-cicd-action@0f9f16fceb53fd8c996042e28c642ec61f844876 # v4.0.0
        with:
          githubToken: ${{github.token}}
          otelServiceName: ${{steps.get-the-workflow-filename.outputs.filename}}
          otlpEndpoint: https://otlp-vaxila.mackerelio.com/v1/traces
          otlpHeaders: Accept=*/*,Mackerel-Api-Key=${{secrets.MACKEREL_APIKEY}}
          runId: ${{github.event.workflow_run.id}}
